<div class="card h-100">
    {{ $page := . }}
        <img data-src="/images/{{ $page.Params.image }}" class="card-img-top-portfolio mx-auto d-block" alt="{{ $page.Title }}">
        <div class="card-body card-body-justify">
            
            <h4 class="card-title">{{ $page.Title }}</h4>
            <div class="card-text">
                {{ $page.Summary | htmlUnescape }}
            </div>

            {{- with $page.Params.technology -}}
                <div class="tags my-3">
                {{- range . -}}
                        <span class="badge badge-pill badge-light border mr-2">
                            <i class="fas fa-code mr-2"></i>{{ . }}
                        </span>
                {{- end -}}
                </div>
            {{- end -}}

            <a href="{{ $page.Params.link }}" target="new" class="btn btn-secondary d-block btn-sm btn-block">{{ $page.Params.link_title }}</a>

        </div>
</div>
